APP_NAME=CraftHost
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://crafthost.ru
VPS_IP=YOUR_VPS_IP

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=crafthost
DB_USERNAME=crafthost
DB_PASSWORD=YOUR_DB_PASSWORD

MAIL_MAILER=smtp
MAIL_HOST=smtp.yandex.ru
MAIL_PORT=465
MAIL_USERNAME=your@yandex.ru
MAIL_PASSWORD=YOUR_SMTP_PASSWORD
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=your@yandex.ru
MAIL_FROM_NAME="CraftHost"

PTERODACTYL_URL=http://127.0.0.1:8443
PTERODACTYL_API_KEY=YOUR_PTERO_APP_KEY
PTERODACTYL_CLIENT_KEY=YOUR_PTERO_CLIENT_KEY

YOOKASSA_SHOP_ID=YOUR_SHOP_ID
YOOKASSA_SECRET_KEY=YOUR_SECRET_KEY

CRYPTO_WALLET_BEP20=YOUR_BEP20_WALLET
CRYPTO_WALLET_TRC20=YOUR_TRC20_WALLET
